.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); // magic no media query method for grid handling
  grid-gap: 6rem;
  align-items: start; // default is stretch which doesn't align right sometimes
  // still kinda weird but really important for aligning items
}

.feature {
  // svg icon
  display: grid;
  grid-template-columns: min-content 1fr; // icon width and then fill up rest
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem; // why set height?
    // grid-row: 1 / -1; // -1 won't work since last row was implicitly created
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
