.homes {
  grid-column: center-start / center-end; // 3 / 11
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); // fit as many as you can but they have to at least be 250px;
  grid-gap: 7rem;
}

.home {
  background-color: $color-grey-light-1;
  // pattern: declare the columns, let implicit rows take care of itself
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
  display: grid;
  &__img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2; // now explicity state to overlap heart icon
    z-index: 1;
  }

  &__like {
    grid-row: 1 / 2; // overlap it with img
    grid-column: 2 / 3;
    fill: $color-primary;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 2; // ensure being on top
    justify-self: end; // put in right corner
    margin: 1rem;
  }

  &__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 3;
    width: 80%;
    justify-self: center;
    align-self: end; // defaulted to stretch
    transform: translateY(50%);
    font-family: $font-display;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: $color-secondary;
    color: #fff;
    font-weight: 400;
  }

  // top rows
  &__location,
  &__rooms {
    margin-top: 2.5rem; // since can't style row gaps individually
  }

  // contains svg icon and a label
  &__location,
  &__rooms,
  &__area,
  &__price {

    font-size: 1.5rem;
    margin-left: 2rem;

    display: flex;
    align-items: center; // center along cross axis

    svg {
      fill: $color-primary;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; //gaps coming soon to CSS4?
    }

    p {

    }
  }

  &__btn {
    grid-column: 1 / -1;
  }
}
