body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  /* line-height double space triple space 1.5 space ms word */
  color: $color-grey-dark;

}

//arguable as component;
// really more of a typography to me (to him)

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  /* at end of animation, it jitters up to the top ever so slightly */
  /* this is the fix for that... */
  margin-bottom: 6rem;

  @include respond(phone) {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-del   ay: 3s; */
    /* animation-iteration-count: 3; */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    /* Lato loaded 100,300,400,700,900 via google fonts */
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
    /* shorthand of the trio above */
    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  display: inline-block; // do so so that the background-image goes as far as the heading, and not the
  // entire width
  // cool bread and butter combo of showing the text cropped out to the background
    -webkit-background-clip: text; //spanking new css prop;
    color: transparent;
    letter-spacing: 2px; //px not rem; 2px is so small, it doesn't matter if it scales
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1); //unnecessary stretching effect
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700; //make bit bolder;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

/* block-level elements: occupy entire width, they create line breaks before and after */
/* span is inline by default, so we have to explicitly state that they will be displayed as blocks */
/* to break up the title and the sub heading as two lines */
