.row {
  max-width: $grid-width; // recommended width by experts?
  //max-width: if viewport width is bigger than 114 rem; the row won't get bigger than it;
  background-color: #eee;
  margin: 0 auto; // the classic way of centering;

  // everything but the last child gets a margin bottom
  &:not(:last-child) {
    margin-bottom: $gutter-vertical; // easy peasy;
  }

  // https://www.youtube.com/watch?v=IiJzbXzOdHQ //best vid ever on floats and clearfix
  @include clearfix; 

  .col-1-of-2 {
    // https://developer.mozilla.org/en-US/docs/Web/CSS/calc
    width: calc((100% - #{$gutter-horizontal}) / 2); // calc a css (not sass) fcn;
    // if you want sass injected you add this ruby string interpolator into it
    background-color: orangered;
    float: left; //we always float these columns to left side;
    //gutters only to right of element except for last element

    // as long as this class is not the last child of the parent...
    &:not(:last-child) {
      margin-right: $gutter-horizontal; // set a margin right value
    }


  }
}

// clearfix
//.row::after
