.navigation {
  &__checkbox {
    display: none; //hide checkbox from checkbox hack
  }

  &__button {
    background-color: $color-white;
    height: 7rem; // cover up beginning background just a bit larger
    width: 7rem;
    position: fixed;
    top: 6rem; // just some geometry to align two circles
    right: 6rem;
    border-radius: 50%;
    z-index: 2000; //even higher
    box-shadow: 0 1rem 3rem rgba($color-black, .1); //subtle shadow
    text-align: center; // center the three lines
    cursor: pointer;
  }

  // circle expanding to giant background
  // put a circle behind menu button
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed; //doesn't change position as we scroll page
    top: 6.5rem;
    right: 6.5rem; // nicely in corner then
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000; // only works on things with positions defined...
    // https://easings.net
    // https://easings.net/#easeInOutQuint  make it fast at first to hide ugly margin transition demo
    // then slow for pretty action on circle shrinking/increasing
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    // transform: scale(80); // for dev purpose later on...
  }

  // huge vh to cover up entire menu
  &__nav {
    height: 100vh; //entire height of the viewport
    // width: 100%; // no need to specify since block level elem... 100% width by default
    position: fixed; // so scroll down and have nav stay in same placeholder
    top: 0;
    left: 0;
    z-index: 1500; //between button and background

    opacity: 0; // by itself not good enough...links are still clickable
    width: 0; //hense we set the width to 0
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55); // wahhh?? you can do that??
    // https://easings.net easeInOutBack effect for that slide and click effect

  }

  // center this inside nav container
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // good candidate for mixin...
    list-style: none;
    text-align: center;
    width: 100%; // to fix weird transition glitch
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block; //so padding gets applied;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      // magic line of code to get that cool slash stuff...
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white, $color-white 50%);
      background-size: 220%; // double space to setup slick animation
      transition: all .4s;

      // for numbers
      span {
        margin-right: 1.5rem;
        display: inline-block;
      }

    }

    &:hover,
    &:active {
      // magic line for that slick shifting on hover animation
      background-position: 100%; // shift the position on hover...
      color: $color-primary;
      // subtle move of the menu just a wee bit left
      transform: translateX(1rem);
    }

  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem; // move down the three horz lines into center of circle
    // three lines
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px; //always 2 regardless of base
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }
  }

  // eyebrow raising effect
  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  // when checkbox is checked, select its brother's child icon
  // hide the middle one

  // rotate bot and top to make a cross
  &__checkbox:checked + &__button &__icon {
    background-color: transparent; // make it invisible
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    // cooler than 45 deg;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  // html
  // <input checkbox id="navi-toggle" class="navigation__checkbox">
  // <label for="navi-toggle" class="navigation__button">
  // <div class="navigation__background">

  // when we click the navigation__button, we will through label magic, check navi-toggle
  // then we get navigation__checkbox's checked state's sibling navigation__background and then style it

  // + adjacent sibling...
  // ~ just a sibling

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
}
