.card {
  // FUNCTIONALITY
  perspective: 150rem; //1500px; //must be set for the parent
  // just needs experimentation
  -moz-perspective: 150rem; //for firefox
  position: relative;
  height: 52rem; // must be set to same as side; since no clearfix

  &__side {
    font-size: 2rem;
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden; //found out via caniuse.com
    backface-visibility: hidden; // don't want back seen
    border-radius: 3px;
    overflow: hidden; // hidden so corners overflowing are hidden... clip path overrides it... weirdly...
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;

    }

    &--back {
      background-color: green;
      transform: rotateY(-180deg); //flip card 180 deg;

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg); //flip card 180 deg;
  }

  &:hover &__side--back {
    transform: rotateY(0); //flip card 180 deg;
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem; // by experimentation according to Jonas
    background-blend-mode: screen; // spanking new css mode; //hard-light; exclusion; difference; ps mode
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // firefox proof;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // x1 y1 x2 y2 xn yn
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
      url(../img/nat-5.jpg); // respective to the .css file directory, not .sass directory
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
      url(../img/nat-6.jpg); // respective to the .css file directory, not .sass directory
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
      url(../img/nat-7.jpg); // respective to the .css file directory, not .sass directory
    }
  }

  // want on top of the image
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; // didn't work as advertised // should be broken up into two lines
    &--1 {
      // give the background to the caption a nice orange background of its own
      background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
    }
    &--2 {
      background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
    }
    &--3 {
      background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; //simplest way to center a block element within a block element
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // FRONT SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; //to fix the button misalign issue
    text-align: center; // to center the button

  }

  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem; // huge text;
    font-weight: 100; //make huge texts thin
  }

  // change cards to eliminate hover effect
  // hover: hover opposite

  // hover: none for iPads!!
  //@include respond(tab-port) {
  @media only screen and (max-width: 56.25em),
         only screen and (hover: none) {
    height: auto; //browser default
    border-radius: 3px; // want it not just on front
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &__side {
      height: auto; // browser default
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0); // don't want rotation
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%)
      }
    }

    &:hover &__side--front {
      transform: rotateY(0); // don't want rotation
    }

    &__details {
      padding: 1rem 3rem;
    }

    // FRONT SIDE STYLING
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%; //to fix the button misalign issue
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem; // huge text;
    }
  }
}
